<!DOCTYPE html>
<html>
<head>
    <script src="jquery.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="director.min.js"></script>
    <script src="vue.js"></script>

    <style>
        .input {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            font-size: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .row {

        }

        a {
            text-underline: none;
            color: #453838;
        }

        .jk-conf {
            display: block;
        }

        .active:before {
            content: "*";
        }


        .job {
            justify-content: flex-start;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        #cloneSetting{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">
<section data-route="index" id="index">
    <span class="jk-conf" style="display: none">
        <a class="url" href="javascript:void(0)"></a>
        <span></span>
    </span>
    <input class="input" placeholder="JOB名称"/>
    <a href="javascript:void(0)" id="jenkinsSetting" style="text-decoration: none">Jenkins设置</a>
    <span id="jenkinsURL">
    </span>
    <hr/>
    <div style="overflow: auto">
        <ul id="jobs">
        </ul>
    </div>
    <li id="clone" style="display: none" class="job">
        <div class="row"
             style="min-width: 40%; width:40%;white-space: nowrap;text-overflow : ellipsis;overflow: hidden">
            <img class="jobColor" width="16" height="16"/>
            <a href="javascript:void(0)" target="_blank" class="jobName">HelloWorld</a>
        </div>
        <div class="row" style="width: 140px;margin-left: 10px">
            <span class="lastBuildTime">N/A</span>
        </div>
        <div class="row"
             style="width: 40%;white-space: nowrap;text-overflow : ellipsis;overflow: hidden;margin-left: 10px">
            <span class="lastChange"></span>
        </div>
        <!-- <div class="jobBtns row" style="width: 20%">
             <img style="width: 16px; height: 16px; margin-right: 2px;margin-top: 1px" class="buildImg" />
             <a class="build" href="javascript:void(0)">构建</a>
         </div>-->
    </li>
    <script></script>
</section>
<style>
    .input {
        width: 100%;
        height: 50px;
        border: none;
        outline: none;
        font-size: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .row {
        display: inline-block;
    }

    a {
        text-underline: none;
        color: #453838;
        text-decoration: none;
    }

    .setting{
        padding: 10px;
        font-size: 16px;
    }

    .box11 {
        border-radius: 10px;
        margin: 10px;
    }

    .shadow {
        position: relative;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.3),
        0px 0px 20px rgba(0,0,0,0.1) inset;
    }
</style>
<section data-route="config" id="config">
    <div class="settings">
        <div class="setting box11 shadow" v-for="(config, index) in configList">
            <input placeholder="jenkins url" class="input" name="jkUrl" v-model="config.data.url"  v-on:input="bindInput(config, index)"/>
            <hr/>
            <input placeholder="jenkins username(optional)" class="input" name="jkUsername" v-model="config.data.username" v-on:input="bindInput(config, index)"/>
            <hr/>
            <input placeholder="jenkins password(optional)" class="input" name="jkPassword" v-model="config.data.password" v-on:input="bindInput(config, index)"/>
        </div>
    </div>
    <div>
        <a href="javascript:void(0)" id="sub" v-on:click="subConf"  style="float: right;display: block;width: 70px">减少配置</a>
        <a href="javascript:void(0)" id="add" v-on:click="addConf" style="float: right;display: block;width: 70px">增加配置</a>
        <a href="javascript:void(0)" id="returnBack" v-on:click="returnBack"  style="float: right;display: block;width: 140px">返回Jenkins搜索</a>
    </div>
</section>
<script>
    function index() {

        function setting() {
            loadConfigPage();
        }

        $("#jenkinsSetting").bind('click', setting);

        function init () {
            let active = utools.db.get("active");
            if (!active) {
                active = "0";
                utools.db.put({
                    "_id": "active",
                    "data": active
                })
            } else {
                active = active.data;
            }

            function getFromDB() {
                let config = utools.db.get('jenkins-' + active);
                console.log('active', active, config)
                let baseURL = config && config.data ? config.data.url : null;
                let username = config && config.data ? config.data.username : null;
                let password = config && config.data ? config.data.password : null;
                return {baseURL, username, password};
            }

            let {baseURL, username, password} = getFromDB();

            $.xhrPool = [];
            $.xhrPool.abortAll = function () {
                $(this).each(function (i, jqXHR) {   //  cycle through list of recorded connection
                    console.log('abort', jqXHR)
                    jqXHR.abort();  //  aborts connection
                    $.xhrPool.splice(i, 1); //  removes from list by index
                });
            }
            $.ajaxSetup({
                beforeSend: function (jqXHR) {
                    $.xhrPool.push(jqXHR);
                    jqXHR.setRequestHeader("Authorization", "Basic " + btoa(username + ":" + password));
                }, //  annd connection to list
                complete: function (jqXHR) {
                    var i = $.xhrPool.indexOf(jqXHR);   //  get index for current connection completed
                    if (i > -1) $.xhrPool.splice(i, 1); //  removes from list by index
                }
            });


            console.log(baseURL, username, password);

            function getJob(job) {
                let jobLi = $("#clone").clone().removeAttr("id").removeAttr("style");
                jobLi.find(".jobName").text(job.name).attr("title", job.name).prop("href", job.url).click(function () {
                    utools.shellOpenExternal(job.url);
                });
                let colorPng = baseURL + "/static/68283e49/images/16x16/" + job.color + ".png";
                if (job.color == 'blue_anime') {
                    colorPng = baseURL + "/static/68283e49/images/16x16/" + job.color + ".gif";
                }
                jobLi.find(".jobColor").prop("src", colorPng)
                jobLi.find(".buildImg").prop("src", baseURL + '/static/68283e49/images/24x24/clock.png')
                jobLi.find(".build").click(function () {
                    jenkins.buildJob(job.name, {"branch": "release"});
                })
                return jobLi;
            }

            function setJob(job, jobLi) {
                let lastBuild = job.detail.lastBuildDetail;
                job.color = job.detail.color;
                if (lastBuild) {
                    jobLi.find(".lastBuildTime").text(moment(new Date(lastBuild.timestamp)).format('YYYY-MM-DD HH:mm:ss'))
                    let colorPng = baseURL + "/static/68283e49/images/16x16/" + job.color + ".png";
                    if (job.color == 'blue_anime') {
                        colorPng = baseURL + "/static/68283e49/images/16x16/" + job.color + ".gif";
                    }
                    if (lastBuild.changeSet && lastBuild.changeSet.items.length > 0) {
                        let lastmsg = lastBuild.changeSet.items[lastBuild.changeSet.items.length - 1];
                        let e = lastmsg.msg + " (" + lastmsg.authorEmail + ")";
                        jobLi.find(".lastChange").text(e).attr("title", e)
                    }
                    jobLi.find(".jobColor").prop("src", colorPng)
                }
            }

            class Jenkins {
                async listJobs() {
                    let result = await $.ajax({
                        dataType: 'json',
                        url: baseURL + "/api/json"
                    })
                    return result;
                }

                async getJob(jobName) {
                    let result = await $.ajax({
                        dataType: 'json',
                        url: baseURL + "/job/" + jobName + "/api/json"
                    })
                    return result;
                }

                async buildJob(jobName, parameters) {
                    if (parameters != null) {

                        let result = await $.ajax({
                            dataType: 'json',
                            type: 'post',
                            data: parameters,
                            url: baseURL + "/job/" + jobName + "/buildWithParameters"
                        })
                        return result;
                    }
                }

                async getBuild(buildURL) {
                    if (!buildURL) {
                        return null;
                    }
                    let result = await $.ajax({
                        dataType: 'json',
                        url: buildURL + "/api/json"
                    })
                    return result;
                }
            }

            let jenkins = new Jenkins();

            async function inputChanged() {
                $.xhrPool.abortAll();
                $("#jobs").html("");
                let jobList = window.jobList;
                if (!jobList) {
                    jobList = await jenkins.listJobs();
                    window.jobList = jobList;
                }
                let text = this === window ? "" : $(this).val();
                jobList.jobs.filter(job => job.name.match(new RegExp(text))).forEach(function (job) {
                    let jobLi = getJob(job);
                    $("#jobs").append(jobLi);
                    (async function (job, jobLi) {
                        job.detail = await jenkins.getJob(job.name)
                        job.detail.lastBuildDetail = await jenkins.getBuild(job.detail.lastBuild ? job.detail.lastBuild.url : null)
                        setJob(job, jobLi);
                        console.log(job);
                    })(job, jobLi);
                })
            }

            inputChanged();

            $(".input").focus().on("input", async function () {
                await inputChanged.call(this);
            });


            let allDocs = utools.db.allDocs("jenkins");
            $("#jenkinsURL").html("");
            let jkClone = $(".jk-conf").clone();
            jkClone.find("span:last-child").addClass('activeSpan')
            for (let i = 0; i < allDocs.length; i++) {
                let data = allDocs[i];
                let jk = jkClone.clone().removeAttr("id").removeAttr("style").appendTo($("#jenkinsURL"));
                jk.find(".url").text(data.data.url).click(function () {
                    let index = $(this).closest(".jk-conf").index();
                    $("#jenkinsURL").find(".activeSpan").each(function (i1) {
                        if (self === $(this)) {
                            index = i1;
                            console.log("index", i1)
                            return false;
                        }
                        return true;
                    })
                    active = index + "";
                    console.log('click active ', active)
                    let exist = utools.db.get("active");
                    if (!exist) {
                        utools.db.put({
                            "_id": "active",
                            "data": active
                        })
                    } else {
                        utools.db.put({
                            "_id": "active",
                            "data": active,
                            "_rev": exist._rev
                        })
                    }
                    renderActive();

                    let fromDB = getFromDB();
                    console.log('fromdb', fromDB)
                    baseURL = fromDB.baseURL;
                    username = fromDB.username;
                    password = fromDB.password;
                    jobList = null;
                    inputChanged();
                });
            }

            function renderActive() {
                $(".activeSpan").removeClass("active");
                $(".activeSpan").eq(parseInt(active)).addClass('active');
            }

            renderActive();
        }
        init();
    }
    function config(){
        let allDocs = utools.db.allDocs("jenkins");
        window.alldata.configList = []
        console.log('invoke config')
        if (allDocs.length > 0) {
            for (let i = 0; i < allDocs.length; i++) {
                let data = allDocs[i];
                window.alldata.configList.push(data);
            }
        }else{
            window.alldata.configList.push({
                _id : '',
                data : {
                    url : null,
                    username : null,
                    password : null
                }
            });
        }
    }
    function initRoutes() {
        var allroutes = function() {
            console.log('all routes')
            var route = window.location.hash.slice(2);
            console.log(route)
            var sections = $('section');
            var section;
            section = sections.filter('[data-route=' + route + ']');
            if (section.length) {
                sections.hide();
                section.show();
            }
        }
        var routes = {
            '/index': index,
            '/config': config
        };
        var router = Router(routes);
        window.router = router;
        router.configure({
            on: allroutes
        });
        router.init();
    }
    function initVue(){
        window.alldata = {
            configList: []
        }
        window.vue = new Vue({
            el: '#config',
            data: window.alldata,
            methods : {
                bindInput : function(conf, index){
                    let value = utools.db.get("jenkins-" + index);
                    let data = {
                        _id: "jenkins-" + index,
                        data: {
                            url: conf.data.url,
                            username: conf.data.username,
                            password: conf.data.password
                        },
                        _rev: value == null ? null : value._rev
                    };
                    data._rev || delete data._rev
                    utools.db.put(data);
                },
                subConf: function(){
                    console.log(alldata.configList.length)
                    let lastIndex = alldata.configList.length-1;
                    alldata.configList.splice(lastIndex, 1);
                    utools.db.remove("jenkins-" + lastIndex);
                },
                addConf : function(){
                    alldata.configList.push({
                        _id : '',
                        data : {
                            url : null,
                            username : null,
                            password : null
                        }
                    })
                },
                returnBack : function(){
                    utools.redirect('jenkins', '')
                }
            }
        })
    }
    initRoutes();
    initVue();
    utools.onPluginEnter(function({code, type, payload, optional}){
        console.log('plugin enter')
        if(code == 'jenkins'){
            console.log('index')
            window.location.hash = '/index';
        }else if(code == 'jenkins-set'){
            console.log('config')
            window.location.hash = '/config';
        }
    });
</script>
</div>
</body>
</html>